@import '../../MediaQueries.scss';

.Title {
    @include lg{
        margin: auto 200px;
    }
    margin: auto 100px;
    font-size: 70px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 2;
    
    span {
        color: #0c00ff;
    }

}
