@import "../../MediaQueries.scss";

.ParticleSection {
  .Particles {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }
  height: 250px;
  @include lg {
    height: 960px;
  }
  background-color: #05386b;
}

.ValuesSection {
  width: 100%;
  background-color: #111;
  height: 300px;
  font-size: 17px;
  padding: 40px 0 0 0;

  @include lg {
    padding: 0;
    text-align: center;
  }

  .ValueCards {
    display: flex;
    flex-direction: column;
    margin: auto auto;

    @include lg {
      flex-direction: row;
    }

    .Card {
      height: 100px;
      width: 350px;
      margin: 10px 0 0 10px;

      @include lg {
        width: 420px;
      }
    }
  }

  span {
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 600;

    @include lg {
      font-size: 70px;
    }
  }
}

.RepoSection {
  width: 100%;
  background: #111;
  
  @include lg{
    height: 400px;
  }
  .RepoCards {
    margin: auto auto;
    padding: 20px 10px;
    .Card {
      margin: 0 0 20px 0;
      @include lg{
        margin: 30px;
      }
    }
  }
}

.row-lg {
  @include lg {
    display: flex;
    flex-direction: row;
  }
}

.column-lg {
  @include lg {
    display: flex;
    flex-direction: column;
  }
}

.row-sm {
  display: flex;
  flex-direction: row;
}

.column-sm {
  display: flex;
  flex-direction: column;
}

.no-padding {
  padding: 0;
}
