@import '../../MediaQueries.scss';

.ParticleSection {
    .Particles {
        width:100%;
        position: absolute;
        top: 0%;
        left:0%;
    }
    background-color: #05386b;
    height:260px;

    @include lg {
        height:955px;
    }
}

.ValuesSection {
    width:100%;
    background-color: #111;
    height: 300px;
    font-size: 17px;
    padding:40px 0 0 40px;
    @include lg {
        padding: 0;
        text-align: center;
    }

    .ValueCards{
        display: flex;
        flex-direction: column;
        margin:auto auto;

        @include lg {
            flex-direction: row;
        }
    }
    
    span {
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;

        @include lg {
            font-size: 70px;
        }
    }
}

.row-lg {
    @include lg {
        display: flex;
        flex-direction: row;
    }
}

.column-lg {
    @include lg {
        display: flex;
        flex-direction: column;
    }
}

.row-sm {
    display: flex;
    flex-direction: row;
}

.column-sm {
    display: flex;
    flex-direction: column;
}

.no-padding {
    padding: 0;
}
