@import '../../MediaQueries.scss';

.Nav {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;

        @include lg {
            flex-direction: row;
        }

        li {
            padding: 6px;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .Nav-Social {
        background-color: #000;
        margin: 8px 0 0 0;

        ul {
            margin: 0 6px;

            li {
                text-decoration: none;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
                font-weight: 500;
                font-size: 17px;
                color: #fff;

                .mobile img {
                    width: 18px;
                }

                .envelope img {
                    width: 18px;
                }

                img {
                    margin: 0 8px;
                    height: 14px;
                    width: 14px;
                }
            }
        }
    }
}

