@import '../../MediaQueries.scss';

.Section {
    height: 700px;
    width: 100%;
    padding: 0 20px;
    display: flex;

    @include lg {
        padding: 20px 200px;
    }

}

.row-lg{
    @include lg{
        display: flex;
        flex-direction: row;
    }
}

.column-lg{
    @include lg{
        display: flex;
        flex-direction: column;
    }
}

.row-sm{
    display: flex;
    flex-direction: row;
}

.column-sm{
    display: flex;
    flex-direction: column;
}

.no-padding {
    padding: 0;
}


